<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>evvit.</title>

		<!-- twitter bootstrap -->
		<link rel="stylesheet" href="/3rdparty/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/3rdparty/bootstrap/css/bootstrap-theme.min.css">
		<script src="/3rdparty/bootstrap/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="/css/base.css">
	</head>
	<body>
		<div id="wrap">
			<h1 class='col-md-12'>
				<a href="/" class="logo">evvit.<a>
			</h1>

			<div class='col-md-9'>
				{% block main %}
				{% endblock %}
			</div>

			{% if not nosidebar %}
			<div class='col-md-3'>
				<a href='/submit' class='btn btn-primary btn-block' role='button'>Submit a new link</a>
			</div>
			{% endif %}
		</div>
		<div id="footer" class='col-md-12'>
			<p class="footer-text">&copy; 2014 Evan J Ogas. All rights reserved.</p>
		</div>
	</body>
</html>
