<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>evvit.</title>

		<!-- twitter bootstrap -->
		<link rel="stylesheet" href="/3rdparty/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/3rdparty/bootstrap/css/bootstrap-theme.min.css">
		<script src="/3rdparty/jquery/js/jquery-1.11.0.min.js"></script>
		<script src="/3rdparty/bootstrap/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="/css/base.css">
	</head>
	<body>
		<div id="wrap">
			<h1 class='col-md-12'>
				<a href="/" class="logo">evvit.<a>
			</h1>

			<div class='col-md-9'>
				{% block main %}
				{% endblock %}
			</div>

			{% if not nosidebar %}
			<div class='col-md-3'>

				{% if user %}
				<a href='/submit' class='btn btn-primary btn-block' role='button'>Submit a new link</a>
				{% else %}
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#login-form" data-toggle="tab">Login</a>
					</li>
					<li>
						<a href="#register-form" data-toggle="tab">Register</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="login-form">
						<form action="/login" method="post" role="form">
							<div class="form-group">
								<input type="text" class="form-control" name="username" placeholder="Username">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="password" placeholder="Password">
							</div>
							<button type="submit" class="btn btn-primary btn-block">Login</button>
						</form>
					</div>
					<div class="tab-pane fade" id="register-form">
						<form action="/register" method="post" role="form" data-toggle="tab">
							<div class="form-group">
								<input type="text" class="form-control" name="username" placeholder="Username">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="password" placeholder="Password">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="password" placeholder="Repeat password">
							</div>
							<button type="submit" class="btn btn-primary btn-block">Register</button>
						</form>
					</div>
				</div>
				{% endif %}

			</div>
			{% endif %}
		</div>
		<div id="footer" class='col-md-12'>
			<p class="footer-text">&copy; 2014 Evan J Ogas. All rights reserved.</p>
		</div>
	</body>
</html>
