{% extends 'base.html' %}

{% block main %}

<script src="/js/voter.js"></script>

{% for post in posts %}
<div class="post">
	{% if user %}
	<div class="vote-container">

		<a onclick="voteup(this, {{ post.id }});">
		{% if post.userScore(user) == 1 %}
			<div class="glyphicon glyphicon-circle-arrow-up vote vote-up"></div>
		{% else %}
			<div class="glyphicon glyphicon-circle-arrow-up vote"></div>
		{% endif %}
		</a>

		<a onclick="votedown(this, {{ post.id }});">
		{% if post.userScore(user) == -1 %}
			<div class="glyphicon glyphicon-circle-arrow-down vote vote-down"></div>
		{% else %}
			<div class="glyphicon glyphicon-circle-arrow-down vote"></div>
		{% endif %}
		</a>
	</div>
	{% endif %}
	<span>
		<span class="post-subtext">({{ post.score() }}) </span>
		<a href="{{ post.url }}">{{ post.title }}</a>
		<div>
			<span class="post-subtext">
				<a href="/post/{{ post.id }}">comments</a>
			</span>
			<span class="post-subtext"> - </span>
			<span class="post-subtext">submitted by</span>
			<span class="post-subtext">{{ post.author.username }}</span>
			<span class="post-subtext"> - </span>
			<span class="post-subtext">{{ post.date|date('m/d/Y g:i A') }}</span>
		</div>
	</span>
</div>
{% endfor %}

{% endblock %}
