.logo {
	color: #444;
}

.logo:hover {
	color: black;
	text-decoration: none;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -32px;
	padding: 0 0 60px;
	width: 960px;
}

#footer {
	height: 32px;
}

.footer-text {
	font-size: small;
	color: #bbb;
	text-align: center;
	margin: 1em;
}

.centered-form {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

.post {
	margin-top: 1em;
	margin-bottom: 1em;
}

.post-subtext {
	font-size: 0.85em;
	color: #999;
}

.comment {
	margin-top: 2em;
	margin-bottom: 2em;
}

.comment-subtext {
	font-size: 0.85em;
	color: #999;
}

.comment-subtext a {
	cursor: pointer;
}

.comment .well {
	margin-bottom: .3em;
}

.childcomment {
	padding-left: 2em;
}

form {
	margin-top: 1em;
	margin-bottom: 1em;
}


.hidden-reply {
	display: none;
}

.vote {
	color: #ccc;
	font-size: 17px;
	margin-bottom: 2px;
	cursor: pointer;
}

.vote-up {
	color: #69ce39;
}

.vote-down {
	color: #5e5e5e;
}

.vote-container {
	width: 32px;
	float: left;
}
